@tailwind base;
@tailwind components;
@tailwind utilities;

div#root,
html,
body {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: auto;
  touch-action: pan-y;
}

.swiper-pagination-bullet {
  background: #FF9C00;
  width: 14px;
  height: 14px;
}

#heroSwiper .swiper-wrapper,
#heroSwiper .swiper-slide {
  height: 100dvh;
}

.swiper-pagination-bullet-active {
  background: #FF9C00;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  left: 20px;
}

@media screen and (min-width: 250px) and (max-width: 320px) {

  #heroSwiper .swiper-wrapper,
  #heroSwiper .swiper-slide {
    height: 140dvh ;
  }

}

@media screen and (min-width: 350px) and (max-width:549px){
  #heroSwiper .swiper-wrapper,
  #heroSwiper .swiper-slide {
   height: 103dvh ;
  }

}
@media screen and (min-width: 550px) and (max-width:649px){

  #heroSwiper .swiper-wrapper,
  #heroSwiper .swiper-slide {
   height: 105dvh ;
  }

}

@media screen and (min-width: 650px) {
  .fruit-img {
    width: 70%;
  }

}

@media screen and (min-width: 1024px) {
  .fruit-img {
    width: 100%;
  }

}

.mask {
  -webkit-mask-image: url('/src/assets/images/process_bg_shape.png');
  mask-image: url('/src/assets/images/process_bg_shape.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.clip {
  position: absolute;
  top: 0;
  left: 10px;
  height: 118px;
  width: 100px;
  text-align: center;
  line-height: 115px;
  -webkit-clip-path: path("M9.83703 91.3038L39.837 109.004C46.1073 112.703 53.8927 112.703 60.163 109.004L90.163 91.3038C96.259 87.7072 100 81.1564 100 74.0785V37.9215C100 30.8436 96.259 24.2928 90.163 20.6962L60.163 2.99616C53.8927 -0.70333 46.1073 -0.703327 39.837 2.99616L9.83702 20.6962C3.74101 24.2928 0 30.8436 0 37.9215V74.0785C0 81.1564 3.74102 87.7072 9.83703 91.3038Z");
  clip-path: path("M9.83703 91.3038L39.837 109.004C46.1073 112.703 53.8927 112.703 60.163 109.004L90.163 91.3038C96.259 87.7072 100 81.1564 100 74.0785V37.9215C100 30.8436 96.259 24.2928 90.163 20.6962L60.163 2.99616C53.8927 -0.70333 46.1073 -0.703327 39.837 2.99616L9.83702 20.6962C3.74101 24.2928 0 30.8436 0 37.9215V74.0785C0 81.1564 3.74102 87.7072 9.83703 91.3038Z");
  z-index: 2;
  background-color: #fff;
}

.clip:before {
  content: '';
  /* background-color: green; */
  position: absolute;
  inset: 9px 7px 9px 7px;
  -webkit-clip-path: path("M9.94758 77.7837L32.9476 91.1558C39.1622 94.769 46.8378 94.769 53.0524 91.1558L76.0524 77.7837C82.2109 74.2032 86 67.6173 86 60.4936V33.5069C86 26.3832 82.2109 19.7973 76.0524 16.2168L53.0524 2.84467C46.8378 -0.768474 39.1622 -0.76848 32.9476 2.84466L9.94759 16.2168C3.78912 19.7973 0 26.3832 0 33.5069V60.4936C0 67.6173 3.78911 74.2032 9.94758 77.7837Z");
  clip-path: path("M9.94758 77.7837L32.9476 91.1558C39.1622 94.769 46.8378 94.769 53.0524 91.1558L76.0524 77.7837C82.2109 74.2032 86 67.6173 86 60.4936V33.5069C86 26.3832 82.2109 19.7973 76.0524 16.2168L53.0524 2.84467C46.8378 -0.768474 39.1622 -0.76848 32.9476 2.84466L9.94759 16.2168C3.78912 19.7973 0 26.3832 0 33.5069V60.4936C0 67.6173 3.78911 74.2032 9.94758 77.7837Z");
  -webkit-filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.08));
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.08));
  z-index: -1;
}

.clip.bg-white:before {
  background-color: #F5F7EB; 
}